<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
            <caching>
                <profiles>
                    <add extension=".json" kernelCachePolicy="DontCache" policy="DontCache"/>
                </profiles>
            </caching>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" />
             <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
         </httpProtocol>
        <handlers>

        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483647" /> 
            </requestFiltering>
        </security>
        
    </system.webServer>
    
    <system.web>
        
    </system.web>
    <system.net>
        
    </system.net>
</configuration>
